@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/InterVariable.woff2") format("woff2");
}

* {
    margin: 0;
    letter-spacing: 1.5px;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 265px 1fr;
}

aside {
    height: 100%;
    max-width: 265px;
    .main-sidebar {
        height: 100%;
        background-color: #F4F4F1;
        padding-left: 15px;
        border: 1px solid #8685846e;
        a {
            text-decoration: none;
            color: black;
        }
        
    }
}

.logo-wrapper {
    margin-top: 10px;
    margin-bottom: 50px;
}

.title {
    font-family: "PlayfairDisplay";
    font-size: 35px;
}

.sub-title {
    font-family: "Inter";
    font-weight: 300;
}

.sections-container {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        border-radius: 5px;
        img {
            height: 27px;
            width: 27px;
        }
        span {
            font-family: "Inter";
            font-weight: 300;
            font-size: 1.2rem;
        }
    }
}

.main-content {
    min-height: 0;
    overflow: hidden;
}

.overview-main-section {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.hero-img-title-container {
    min-height: 350px;
    max-height: 350px;
    width: 95%;
    border-radius: 10px;
    margin-top: 50px;
    background-image: url(/images/hero-cover-image.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.23);
    h1 {
        color: #FFFFFF;
        max-width: 450px;
    }
    
    p {
        margin-top: 10px;
        color: #afaead;
        max-width: 450px;
    }
}

.stock-detail-container {
    margin-top: 55px;
    width: 95%;
    height: 100px;
    display: flex;
    align-items: center;
    border-top: solid 1px #8685846e;
    border-bottom: solid 1px #8685846e;
    padding-bottom: 20px;
    padding-top: 20px;
    div {
        width: 23%;
        p {
            font-family: "Inter";
            color: #0b0b0bc7;
        }
        h2 {
            font-family: "PlayfairDisplay";
        }
        border-right: solid 1px #8685846e;
        margin-right: 20px;
    }
    .inventory-value-container {
        border-right: none !important;
    }
}

.recent-stock-items-container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 20px;
    margin-top: 50px;
}

.recently-added-title-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8685846e;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: #0b0b0bc7;
        font-family: "Inter";
        font-size: .7rem;
        align-self: self-end;
        margin-bottom: 5px;
    }

    h2 {

        font-family: "PlayfairDisplay";
        margin-bottom: 5px;
    }
}

.cards-container {
    display: flex;
    gap: 20px;
}

.item-card {
    width: fit-content;
    font-family: "Inter";
    background-color: #F4F4F1;
    border-bottom: 1px solid #8685846e;
    .title {
        max-width: 250px;
        font-family: "Inter";
        font-size: 1.2rem;
    }
    .category-price {
        font-size: .8rem;
        color: #0b0b0bc7;
    }
    img {
        height: 350px;
        width: 250px;
        object-fit:none;
    }
}

.low-stock-alert-wrapper {
    padding: 20px;
    border: 1px solid #8685846e;
    
    h2 {
        display: flex;
        text-align: center;
        gap: 7px;
        border-bottom: 1px solid #8685846e;
        font-family: "PlayfairDisplay";
        padding-bottom: 5px;
        img {
            width: 25px;
            height: 25px;
            align-self: flex-end;
        }
    }
}

.low-stock-items-detail-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #8685846e;
    align-items: center;
    font-family: "Inter";
    margin-top: 20px;
}

.current-item-count {
    color: #B91A1A;
    font-size: .8rem;
    span {
        font-size: 1rem;
    }
}

.low-stock-title-icon {
    margin-bottom: 5px;
}

.low-stock-category {
    margin-bottom: 5px;
}

.low-stock-category {
    color: #0b0b0bc7;
    font-size: .7rem;
}

.low-stock-title {
    max-width: 300px;
    margin-bottom: 5px;
}

.category-price-wrapper {
    display: flex;
    justify-content: space-between;
}

.products-section {
    width: 100%;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.products-heading {
    display: flex;
    align-items: end;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.title-wrapper {
    h1 {
        font-family: "PlayfairDisplay";
        font-size: 2.5rem;
    }
    p {
        font-family:"Inter";
        font-weight: 300;
        color: #0b0b0bee;
    }
}

.add-product-wrapper {
    .add-product-button {
        font-family: "Inter";
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #000000;
        background-color: #000000;
        color: #FFFFFF;
        text-decoration: none;
    }
}

.button-wrapper {
    button, a {
        font-family: "Inter";
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #000000;
        background-color: #000000;
        color: #FFFFFF;
        text-decoration: none;
    }
    a {
        background-color: #FFFFFF;
        color: #000000;
        border: 1px solid #0000008a;
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 300;
    }
}

.search-filter-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #8685846e;
    align-items: end;
    form {
        input {
            width: 350px;
            height: 35px;
            font-family: "Inter";
            font-size: 1rem;
        } 
    }
}

.filter-wrapper {
    button {
        font-family: "Inter";
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #8685846e;
        background-color: transparent;
    }
    button:hover {
        cursor: pointer;
    }
}

.stock-count {
    font-size: .8rem;
    color: #0b0b0bc7;
    display: flex;
    align-items: center;
    gap: 3px;
    span {
        font-size: 1.5rem;
        padding-bottom: 3px;
    }
}

.add-product-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    justify-self: center;
    align-self: center;
    padding: 50px;
    border: 1px solid #8685846e;
    background-color: #FFFFFF;
    .title-wrapper {
        width: fit-content;
        text-align: center;
    }
    form {
        font-family: "Inter";
        font-weight: 300;
        width: 400px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
            height: 35px;
            padding-left: 10px;
        }
        textarea {
            padding-left: 10px;
            min-height: 100px;
            max-height: 100px;
            max-width: 100%;
            min-width: 100%;
        }
    }
}

.products-container {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.title-wrapper {
    margin-top: ;
}

.radio-input-wrapper {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    div {
        label {
        height: fit-content;
        align-self: center;
        }
        input {
            height: fit-content;
        }
    }
    
    * {
        width: fit-content;
        font-size: 16px;
    }
}

.brand-category-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .brand-wrapper, .categories-wrapper {
        display: flex;
        flex-direction: column;
        width: 165px;
        gap: 3px;
        select {
            width: 100%;
            height: 35px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.price-stock-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .price-wrapper, .stock-wrapper {
        display: flex;
        flex-direction: column;
        width: 165px;
        gap: 3px;
        input {
            width: 100%;
        }
    }
}

.radio-input-wrapper {
    
}

.condition-wrapper {
    div {
        margin-top: 3px;
    }
}

.image-url-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.tint {
    height: 100%;
    width: 100%;
    padding-top: 20%;
    background-image: linear-gradient(rgba(0,0,0,0.5));
}